.home {

    font-family: objektiv-mk1, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50pt ;
    text-align: center;
    width: 100%;
    height: auto;
    color: black;
    padding-bottom: 10pt;
    
}

.origin {
    font-family: objektiv-mk1, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18pt;
    width: 100%;
    height: auto;
    background-color: rgb(253, 240, 221);

}


* {
    box-sizing: border-box;
    
  }


.column {
    float: left;
    padding: 10px;
 
  }
  
  .left {
    width: 60%;
    padding-top: 30pt;
  }
  
  .right {
    width: 40%;
    padding-top: 30pt;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }



  .contactus {
    color: black;
    border: 2px solid black;
    width: 150pt;
    height: 50pt;
    border-radius: 50pt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
    cursor: pointer;
    margin-bottom: 30px;
    vertical-align: center;
  }