/**  ========================================================================== 

This is where your custom styles begin. 

==========================================================================  */


.home {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 100pt;
    text-align: center;
}